.button {
  height: 42px;
  min-width: 114px;
  padding: 0 33px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);

  color: $secondary-text-color;
  background-color: $accent-color;
  border-radius: 10px;
  border: 2px solid transparent;
  cursor: pointer;

  transition: border-color $duration $cubic-bezier, box-shadow 450ms ease-in-out,
    color 450ms ease-in-out;

  &:focus {
    color: $white-color;
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: 0 0 40px 40px $hover-focus-color inset;
  }

  &:disabled {
    background-color: $disable-color;
  }
}

.button--transparent {
  border-color: $accent-color;
  background-color: transparent;

  &:focus {
    color: $white-color;
  }

  &:hover,
  &:focus {
    background-color: inherit;
    border-color: $hover-focus-color;
    box-shadow: none;
  }

  &:disabled {
    border-color: $disable-color;
  }
}
