<section class="contacts" id="contacts">
  <h2 class="visually-hidden">Contacts</h2>
  <div class="container">
    <ul class="contacts-list list">
      <li class="contacts-list__item">
        <p class="contacts-list__category">Cafe</p>
        <address class="contacts-list__address">
          <div class="contacts-list__info">
            <p class="contacts-list__city">Chicago</p>
            <a
              href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/data=!4m2!3m1!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b?sa=X&ved=2ahUKEwiPoaKcnf77AhWTRvEDHZx2CJYQ8gF6BAgZEAE"
              class="contacts-list__street"
              target="_blank"
              rel="noopener nofollow norefferrer"
            >
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </a>
          </div>
          <ul class="contacts-list__info list">
            <li class="contacts-list__weeks--weekdays">
              <p class="contacts-list__days">Monday - Friday</p>
              <p class="contacts-list__time">06:00 am - 10:00 pm</p>
            </li>
            <li class="contacts-list__weeks--weekends">
              <p class="contacts-list__days">Saturday - Sunday</p>
              <p class="contacts-list__time">08:00 am - 16:00 pm</p>
            </li>
          </ul>
          <div class="contacts-list__info">
            <a href="tel:+610383766284" class="contacts-list__tel"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts-list__mail"
              >noreply@envato.com</a
            >
          </div>
        </address>
      </li>

      <li class="contacts-list__item">
        <p class="contacts-list__category">Food Truck</p>
        <address class="contacts-list__address">
          <div class="contacts-list__info">
            <p class="contacts-list__city">Los Angeles</p>
            <a
              href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
              class="contacts-list__street"
              target="_blank"
              rel="noopener nofollow norefferrer"
            >
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </a>
          </div>
          <ul class="contacts-list__info list">
            <li class="contacts-list__weeks--weekdays">
              <p class="contacts-list__days">Monday - Friday</p>
              <p class="contacts-list__time">06:00 am - 10:00 pm</p>
            </li>
            <li class="contacts-list__weeks--weekends">
              <p class="contacts-list__days">Saturday - Sunday</p>
              <p class="contacts-list__time">08:00 am - 16:00 pm</p>
            </li>
          </ul>
          <div class="contacts-list__info">
            <a href="tel:+610383766284" class="contacts-list__tel"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts-list__mail"
              >noreply@envato.com</a
            >
          </div>
        </address>
      </li>

      <li class="contacts-list__item">
        <p class="contacts-list__category">Cafe</p>
        <address class="contacts-list__address">
          <div class="contacts-list__info">
            <p class="contacts-list__city">New York</p>
            <a
              href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
              class="contacts-list__street"
              target="_blank"
              rel="noopener nofollow norefferrer"
            >
              726 Sterling Pl, Brooklyn, NY 11222, USA
            </a>
          </div>
          <ul class="contacts-list__info list">
            <li class="contacts-list__weeks--weekdays">
              <p class="contacts-list__days">Monday - Friday</p>
              <p class="contacts-list__time">06:00 am - 10:00 pm</p>
            </li>
            <li class="contacts-list__weeks--weekends">
              <p class="contacts-list__days">Saturday - Sunday</p>
              <p class="contacts-list__time">08:00 am - 16:00 pm</p>
            </li>
          </ul>
          <div class="contacts-list__info">
            <a href="tel:+610383766284" class="contacts-list__tel"
              >+61(0) 383 766 284</a
            >
            <a href="mailto:noreply@envato.com" class="contacts-list__mail"
              >noreply@envato.com</a
            >
          </div>
        </address>
      </li>
    </ul>

    <ul class="contacts-buttons list">
      <li class="contacts-buttons__item">
        <button
          class="button contacts-button"
          type="button"
          location-modal-open
        >
          Our Locations
        </button>
      </li>
      <li class="contacts-buttons__item">
        <button
          class="button button--transparent contacts-button"
          franchise-modal-open
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
