<!-- head -->
<!-- <link rel="stylesheet" type="text/css" href="./slick/slick.css" />
<link rel="stylesheet" type="text/css" href="./slick/slick-theme.css" /> -->

<!-- reviews -->

<section class="reviews">
  <h2 class="section__title visually-hidden">Customer Reviews</h2>
  <div class="reviews__thumb">
    <div class="rewiew__item">
      <div class="review__image">
        <img
          srcset="
            ./images/reviewers/reviews_1@1x.jpg 1x,
            ./images/reviewers/reviews_1@2x.jpg 2x
          "
          src="./images/reviewers/reviews_1@1x.jpg"
          alt="customer"
          width="85"
        />
      </div>
      <div class="review__field">
        <p class="review__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
      <p class="review__name">Emily, Los Angeles</p>
    </div>

    <div class="rewiew__item">
      <div class="review__image">
        <img
          srcset="
            ./images/reviewers/reviews_2@1x.jpg 1x,
            ./images/reviewers/reviews_2@2x.jpg 2x
          "
          src="./images/reviewers/reviews_1@1x.jpg"
          alt="customer"
          width="85"
        />
      </div>
      <div class="review__field">
        <p class="review__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </div>
      <p class="review__name">Bryan, New-York</p>
    </div>

    <div class="rewiew__item">
      <div class="review__image">
        <img
          srcset="
            ./images/reviewers/reviews_3@1x.jpg 1x,
            ./images/reviewers/reviews_3@2x.jpg 2x
          "
          src="./images/reviewers/reviews_1@1x.jpg"
          alt="customer"
          width="85"
        />
      </div>
      <div class="review__field">
        <p class="review__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </div>
      <p class="review__name">Diana, Chicago</p>
    </div>
  </div>
</section>

<!-- Slider Script-->

<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.6.2.min.js"
></script>

<script type="text/javascript" src="js/slick.min.js"></script>
<script src="js/slider.js"></script>
