<section class="hero">
  <div class="container hero__container">
    <div class="hero-left-side">
      <h1 class="hero__title">ice cream made with passion</h1>
      <a href="#our-products" class="hero__button link">Products</a>
      <a href="#how-its-made" class="link hero__link">How it’s made?</a>

      <div class="hero-thumb">
        <img
          srcset="
            ./images/hero/plate_tab@1x.png 152w,
            ./images/hero/plate_tab@2x.png 304w,
            ./images/hero/plate_ds@1.png   225w,
            ./images/hero/plate_ds@2x.png  450w
          "
          sizes="(min-width:1200px) 225px, 152px"
          src="./images/hero/plate_tab@1x.png"
          alt="plate with icecream"
          class="hero-thumb__image"
        />

        
          
        
        
        <div class="hero__wrapped">

          
        <svg class="hero-thumb__icon" width="40" height="16">
          <use href="./images/sprite.svg#icon-Arrow"></use>
        </svg>

        <div class="hero__overlay">
          <p class="hero-thumb__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        </div>
        
        </div>
        
        
      </div>
    </div>
    <ul class="list hero-list">
      <li class="hero-list__item">
        <p class="hero-list__number">16</p>
        <p class="hero-list__text">cafes</p>
      </li>
      <li class="hero-list__item">
        <p class="hero-list__number">23</p>
        <p class="hero-list__text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
