<section class="hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>

    <div class="hero__interactive-element">
      <button
        class="button button--transparent hero__button--mobile"
        type="button"
      >
        Products
      </button>
      <a href="" class="hero__link">How it&#8242;s made?</a>
    </div>

    <div class="hero__description-items">
      <!-- plate of cakes -->
      <picture class="hero__img-cakes">
        <source
          media="(min-width:1200px)"
          srcset="./images/hero/img-1_225.png"
        />
        <source
          media="(min-width:768px)"
          srcset="./images/hero/img-1_152.png"
        />
        <img src=./images/hero/img-1_152.png alt="plate of Cakes"
        style="width:auto;">
      </picture>

      <details>
        <summary class="hero__description-marker"></summary>
        <p class="hero__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </details>
    </div>
    <!-- iceCream -->
    <picture class="hero__img">
      <source
        media="(min-width:1200px )"
        srcset="./images/hero/img-2_456.png"
      />
      <source media="(min-width:768px )" srcset="./images/hero/img-2_268.png" />
      <source media="(min-width:320px)" srcset="./images/hero/img-2_177.png" />
      <img
        src="./images/hero/img-2_177.png"
        alt="iceCream"
        srcset="width:auto;"
      />
    </picture>

    <!-- counters -->
    <ul class="hero__caffee-list">
      <li class="hero__counters-list">
        <span class="hero__count">16</span>
      </li>
      <li class="hero__counters-list">
        <p class="hero__shops">cafes</p>
      </li>
    </ul>

    <ul class="hero__trucks-list">
      <li class="hero__counters-list">
        <span class="hero__count">23</span>
      </li>
      <li class="hero__counters-list">
        <p class="hero__shops">food trucks</p>
      </li>
    </ul>
  </div>
</section>
