<section>
  <footer class="footer">
    <div class="container">
      <div class="footer-wrap">
        <div class="footer-text">
          <p class="footer-first">
            homemade ice cream made<br />
            <span class="footer-second"> with passion </span>
          </p>
        </div>

        <div class="footer-socials">
          <ul class="footer-socials__list list">
            <li class="footer-socials__item">
              <a
                class="footer-social__link"
                href="#"
                target="_blank"
                class="soc__link"
                rel="noopener noreferrer nofollow"
              >
                <svg class="footer-socials__icon" width="34" height="34">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                target="_blank"
                class="soc__link"
                rel="noopener noreferrer nofollow"
              >
                <svg class="footer-socials__icon" width="34" height="34">
                  <use href="./images/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="#"
                target="_blank"
                class="soc__link"
                rel="noopener noreferrer nofollow"
              >
                <svg class="footer-socials__icon" width="34" height="34">
                  <use href="./images/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
          </ul>

          <div class="footer-tel">
            <span class="footer-tel__item">Feel free to contact</span>
            <a class="footer-tel__link link" href="tel:+610383766284">
              +61 (0) 383 766 284
            </a>
          </div>
        </div>
      </div>

      <div class="footer-company">
        <p class="footer-company__item">
          &#169; 2022 - IceCream. All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
</section>
