.contacts {
  padding-bottom: 60px;

  @media screen and(min-width:768px) {
    padding-bottom: 40px;
  }

  @media screen and(min-width:1200px) {
    padding-bottom: 120px;
  }

  & .container {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  p {
    font-style: normal;
  }

  a {
    font-style: normal;
    text-decoration: none;
  }

  background: linear-gradient(to bottom, transparent 25%, $bg-color 25%);

  color: $secondary-text-color;

  @media screen and (min-width: 768px) {
    background: linear-gradient(to bottom, transparent 46%, $bg-color 46%);
  }

  @media screen and (min-width: 1200px) {
    background: linear-gradient(to bottom, transparent 17%, $bg-color 17%);
  }
}
.contacts-list {
  font-weight: 500;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
    margin-bottom: 60px;

    line-height: 24px;
  }

  &__item {
    width: 280px;
    padding: 40px 32px 24px 32px;
    border-radius: 24px;
    box-shadow: $shadow;
    background-color: $primary-text-color;

    & .contacts-list__info:first-child {
      letter-spacing: 0.04em;
    }

    & .contacts-list__info:nth-child(3) {
      line-height: 19.2px;

      @media screen and (min-width: 768px) {
        line-height: 21px;
      }
    }

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &:first-child .contacts-list__street {
        width: 190px;
      }
    }

    @media screen and (min-width: 768px) {
      width: 224px;
      padding: 40px 24px;

      &:nth-child(2) .contacts-list__category {
        padding: 4px 10px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: 368px;
      padding: 40px;
    }

    // animation
    transition: transform $duration $cubic-bezier,
      box-shadow $duration $cubic-bezier;
    overflow: hidden;
    transform-origin: 50% 0;
    transform: perspective(800px) rotateX(0deg) translateZ(0);

    &:hover {
      transform: perspective(800px) rotateX(2deg) translate3d(0, -25px, 10px);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &__category {
    display: inline-block;
    margin-bottom: 20px;
    padding: 4px 22px;
    border-radius: 4px;
    background-color: $accent-color;

    line-height: 14.4px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      padding: 4px 13px;

      font-size: 16px;
      line-height: 22.4px;
    }

    @media screen and (min-width: 1200px) {
      padding: 4px 14px;
    }
  }

  &__address {
    line-height: 22.32px;

    & a:hover,
    & a:focus {
      text-decoration: underline;
    }

    @media screen and (min-width: 768px) {
      line-height: 26.04px;
    }

    @media screen and (min-width: 1200px) {
      line-height: 29.76px;
    }
  }

  &__city {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 8px;
    }
  }

  &__street {
    display: block;
    margin-bottom: 24px;

    color: $location-text-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__weeks--weekdays {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
  }

  &__days {
    margin-bottom: 0;
  }

  &__time {
    margin-bottom: 0;

    color: #ababab;
  }

  &__weeks--weekends {
    margin-bottom: 24px;
  }

  &__tel {
    display: block;
    margin-bottom: 6px;

    color: inherit;

    @media screen and (min-width: 768px) {
      margin-bottom: 4px;
    }
  }

  &__mail {
    display: block;
    color: inherit;
  }
}

.contacts-list__info {
  display: flex;
  flex-direction: column;
  justify-content: end;

  &:not(:last-child) {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &:not(:last-child):after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
  }
}

.contacts-buttons {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.contacts-buttons__item {
  width: 196px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.contacts-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-size: 14px;

  &::after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../images/contacts/ep_arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 7px;
  }

  &:focus {
    &::after {
      background-image: url('../images/contacts/ep_arrow--active.svg');
    }
  }
}
