.reviews {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;

  @media screen and(min-width:768px) {
    margin-bottom: 124px;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 144px;
  }
}

.review__field {
  background-color: #84a178;

  margin-bottom: 32px;
  padding: 35px 39px;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    padding: 28px 80px;
    border-radius: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 43px 109px;
  }
}

.review__image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: 32px;
}

.review__text {
  text-align: center;
  line-height: calc(31 / 12);

  @media screen and(min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @media screen and(min-width:1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.review__name {
  margin-bottom: 0;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);

  color: $secondary-text-color;

  @media screen and(max-width:767px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}
