.hero {
  padding-top: 99px;

  padding-bottom: 236px;
  background-color: $bg-color;
  background-image: url(../images/hero/icecream_mob@1x.png),
    url(../images/hero/dots_mob@1x.png);
  background-repeat: no-repeat;
  background-size: 177px 217px, contain;
  background-position: 58% bottom, bottom;

  @media screen and(min-device-pixel-ratio: 2),
    screen and(min-resolution: 192dpi),
    screen and(min-resolution: 2dppx) {
    background-image: url(../images/hero/icecream_mob@2x.png),
      url(../images/hero/dots_mob@2x.png);
  }
}

@media screen and(min-width:768px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 12px;

    background-image: url(../images/hero/icecream_tab@1x.png),
      url(../images/hero/dots_tab@1x.png);
    background-size: 268px 329px, contain;
    background-position: 82% bottom, bottom;

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/hero/icecream_tab@2x.png),
        url(../images/hero/dots_tab@2x.png);
    }
  }
}

@media screen and(min-width:1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 65px;

    background-image: url(../images/hero/icecream_ds@1x.png),
      url(../images/hero/dots_ds@1x.png);
    background-size: 456px 560px, contain;
    background-position: 89% bottom, bottom;

    @media screen and(min-device-pixel-ratio: 2),
      screen and(min-resolution: 192dpi),
      screen and(min-resolution: 2dppx) {
      background-image: url(../images/hero/icecream_ds@2x.png),
        url(../images/hero/dots_ds@2x.png);
    }
  }
}

.hero__title {
  width: 247px;
  margin-bottom: 32px;

  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: calc(33 / 26);
  text-transform: uppercase;

  @media screen and(min-width:768px) {
    margin-bottom: 24px;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 28px;
  }
}

.hero__button {
  height: 38px;
  min-width: 108px;
  padding: 0 24px;

  margin-right: 12px;

  color: $black-color;

  @media screen and(min-width:768px) {
    margin-bottom: 12px;
  }

  @media screen and(min-width:1200px) {
    margin-bottom: 42px;
  }
}

.hero__link {
  font-weight: 600;
  line-height: calc(15 / 12);

  color: $accent-color;
  border-bottom: 1px solid;
  border-color: inherit;

  &:hover {
    color: $hover-focus-color;
  }

  &:focus {
    color: $primary-text-color;
  }

  &:disabled {
    color: $slider-button-disable;
  }

  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero-thumb {
  display: none;

  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  @media screen and(min-width:1200px) {
    gap: 60px;
  }
}

.hero-thumb__text {
  width: 139px;
  margin-bottom: 12px;
  margin-top: 12px;

  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: calc(17 / 12);

  @media screen and(min-width:1200px) {
    width: 200px;
    margin-bottom: 24px;
    margin-top: 24px;

    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

.hero-thumb__icon {
  fill: $primary-text-color;
}

.hero-list {
  margin-left: auto;
}

.hero-list__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero-list__number {
  margin-bottom: 4px;

  font-weight: 900;
  font-size: 28px;
  line-height: calc(34 / 28);
  text-transform: uppercase;
  text-align: right;

  color: $secondary-text-color;

  @media screen and(min-width:1200px) {
    font-size: 46px;
    line-height: calc(56 / 46);
  }
}

.hero-list__text {
  margin-bottom: 0;

  font-size: 8px;
  line-height: calc(10 / 8);
  text-align: right;

  @media screen and(min-width:1200px) {
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

.hero__container {
  display: flex;
}
