.modal-product {
  color: $secondary-text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-42%);
  z-index: 101;
  overflow-y: auto;

  height: 80%;
  width: 280px;
  padding: 28px 20px;

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 40px 32px;
  }

  background-color: $primary-text-color;
  border: 2px solid $accent-color;
  border-radius: 10px;

  &__button {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    padding: 0;

    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &__icon {
    @media screen and(min-width:768px) {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    margin-bottom: 20px;

    font-family: 'Seymour One', sans-serif;
    font-size: 20px;
    line-height: calc(28 / 20);
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__thumb {
    margin: 0 auto 22px;

    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }

    width: 132px;
    height: 139px;
    border-radius: 132px;

    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      $slider-button-disable;
  }

  &__parameter {
    margin: 0 auto 40px;

    display: flex;
    justify-content: center;

    gap: 9px;

    @media screen and (min-width: 768px) {
      margin-bottom: 48px;
      gap: 20px;
    }
  }

  &__border {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 53px;
    height: 72px;

    border: 2px solid $toggle-bg-color;
    border-radius: 40px;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 65px;
      height: 90px;
    }
  }

  &__parameter-text {
    margin-bottom: 0;

    font-size: 10px;
    line-height: calc(12 / 10);

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: calc(15 / 12);
    }
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
    width: 43px;
    height: 43px;
    border-radius: 53px;
    border: 2px solid $toggle-bg-color;
    background: $toggle-bg-color;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

    color: $secondary-text-color;
    font-weight: 500;
    font-size: 10px;
    line-height: calc(28 / 10);

    @media screen and (min-width: 768px) {
      width: 53px;
      height: 53px;
      font-size: 12px;
      line-height: calc(28 / 12);
    }
  }

  &__ingredient-title {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
    text-align: center;
  }

  &__form-group {
    display: flex;
    flex-direction: column;

    width: 100%;
    gap: 16px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      width: 368px;
      margin: 0 auto 32px;
    }
  }

  &__form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 16px;

    width: 100%;
    height: 42px;

    background: $input-bg-color;
    border: 1px solid $bg-color;
    border-radius: 10px;
  }

  &__form-input::placeholder,
  &__form-comment::placeholder {
    font-size: 14px;
    line-height: calc(19.6 / 14);
  }

  &__form-comment {
    width: 100%;
    height: 84px;
    padding: 11px 16px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $bg-color;
    border-radius: 10px;
    resize: none;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 32px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 132px;
    @media screen and (min-width: 768px) {
      width: 121px;
    }

    text-align: center;
    font-size: 14px;
    line-height: calc(17 / 14);
    cursor: pointer;
  }
}

.ingridients-list {
  margin-bottom: 40px;
  width: 100%;
  height: 205px;
  gap: 11px;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.ingridients-list__item {
  display: flex;
  justify-content: space-between;

  width: 100%;

  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.ingridients-list__text {
  font-size: 14px;
  line-height: calc(24.64 / 14);
  margin: 0;
}

.prod-modal__button {
  display: block;
  margin: 0 auto;
  min-width: 132px;

  font-size: 14px;
  line-height: calc(17 / 14);
}
